* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.top {
  height: 1024px;
  background-image: url(./img/Rectangle1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
}
.header__heading {
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
  margin-top: 217px;
}
.header__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 44px;
  width: 481px;
}
.header__text_big {
  font-weight: 700;
}
.header__button {
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9C0332;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for-box {
  background: #000915;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.for__item {
  height: 300px;
  grid-column: span 4;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 128px;
  margin-top: 128px;
  padding-left: 32px;
  padding-bottom: 32px;
}
.for__item_1 {
  background-image: url(./img/Rectangle2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.for__item_2 {
  background-image: url(./img/Rectangle3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.for__item_3 {
  background-image: url(./img/Rectangle4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 375px) {
  .top {
    height: 735px;
    background-image: url(./img/Rectangle1_mob.png);
  }
  .center {
    padding-left: calc(50% - 171px);
    padding-right: calc(50% - 171px);
  }
  .header {
    align-items: center;
  }
  .header__heading {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .header__text {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    width: 343px;
  }
  .header__text_big {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .for {
    grid-template-columns: repeat(1, 1fr);
  }
  .for__item {
    grid-column: span 1;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 14px;
  }
  .for__item_1 {
    margin-top: 128px;
  }
  .for__item_3 {
    margin-bottom: 128px;
  }
}/*# sourceMappingURL=style.css.map */