* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.top {
    height: 1024px;
    background-image: url(./img/Rectangle1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;

    &__heading {
        color: #FFF;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 32px;
        margin-top: 217px;
    }
    
    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        margin-bottom: 44px;
        width: 481px;

        &_big {
            font-weight: 700;
        }
    }
    
    &__button {
        width: 234.063px;
        height: 48.603px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #9C0332;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            border-radius: 30px;
            background: #EB443F;
        }
    }
}

.for-box {
    background: #000915;
}

.for {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 128px;
    padding-top: 128px;

    &__item {
        height: 300px;
        grid-column: span 4;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        border-radius: 16px;
        display: flex;
        align-items: flex-end;
        padding-left: 32px;
        padding-bottom: 32px;

        &:hover {
            border-radius: 16px;
            border: 3px solid #44D2FF;
        }
      
        
        &_1 {
            background-image: url(./img/Rectangle2.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &_2 {
            background-image: url(./img/Rectangle3.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &_3 {
            background-image: url(./img/Rectangle4.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

.game {
    background: #000915;

    &__content {
        display: flex;
        gap: 135px;
        padding-top: 233px;
        padding-bottom: 233px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        width: 584px;
    }

    &__heading {
        color: #FFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
    }

    &__button {
        width: 234.063px;
        height: 48.603px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #9C0332;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            border-radius: 30px;
            background: #EB443F;
        }
    }
    
    &__img_mob {
        display: none;
    }
}

// Мобильная версия
@import 'mobile';